.footer{
    align-items: end;
}
.icoLibro{
    height: 45px;
    width: 45px;
}
.estante{
    height: 400px;
    width: 800px;
}
.leyendo{
    height: 400px;
    width: 800px;
}
.leyendo2{
    height: 400px;
    width: 800px;
}
